{% extends 'base_bs5.html' %}


{% block main %}

<div class="'container">
    <div class="row">
        <div class="'col">
            <h1>Lista de favoritos</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>url</th>
                </tr>
            </thead>
            <tbody>
                {% for favorito in favoritos_lista %}
                <tr>
                    <td>{{ favorito.nombre }}</td>
                    <td>{{ favorito.url }}</td>
                    <td>
                        <a href="/borrar/{{ favorito.pk }}" class="btn btn-outline-danger mb-2">Borrar</a>
                        <dr>
                        <a href="/detalle/{{ favorito.pk }}" class="btn btn-outline-info mb-2">Detalle</a>
                        <br>
                        <a href="/actualizar/{{ favorito.pk }}" class="btn btn-outline-primary mb-2">Actualizar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'todo:crear'  %}" class= "btn btn-outline-secondary mb-2" >Nuevo</a>
    </div>
</div>

{% endblock main %}



